@page "/"

<PageTitle>Home</PageTitle>

<h1>4X27 Price Calculator</h1>

<p>Help yourself</p>

<img src="https://taxi-speed.com/wp-content/uploads/2024/02/Taxi-Cyprus-Airport-Transfer-2.webp" jsaction="VQAsE" class="sFlh5c pT0Scc iPVvYb" style="max-width: 518px; height: 600px; margin: 0px; width: 400px;" alt="Cyprus Taxi Airport Speed | Taxi-Transfers - Cyprus Taxi Airport Speed" jsname="kn3ccd" aria-hidden="false">
